:root{
    --bg-color-light: #fff;
    --bg-color-dark: #272934;
    --title-font: 'Work Sans', sans-serif;
}

*, *::before, *::after{
    margin: 0;
}
body{
    overflow-x: hidden;
}

.bg-shape{
    position: absolute;
    z-index: -10;
}

main{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.GTD{
    font-family: var(--title-font);
    font-size: 5vw;
    height: fit-content;
}
.GET-THINGS{
    grid-column: 2/span 4;
    grid-row-start: 3;
}
.DONE{
    background: -webkit-repeating-linear-gradient(#33D630, #FBFF35);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    grid-column: 2/span 4;
    grid-row-start: 4;
}

/*Dark Mode*/
@media (prefers-color-scheme: dark) {
    .light{
        display: none;
    }    
    .dark{
        display: block;
    }
    body{
        background: var(--bg-color-dark);
    }
}

/*Light Mode*/
@media (prefers-color-scheme: light) {
    .light{
        display: block;
    }    
    .dark{
        display: none;
    }
    body{
        background: var(--bg-color-light);
    }
}